{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block main-content %}

<style>
    body {
        font-family: Outfit;
        background: linear-gradient(#a4f0f9,#fff7f9);
    }
    .contact-container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly; 
    }
    .contact-left {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
    .contact-left-title h2{
        font-weight: 600;
        color: #ea5d05;
        font-size: 40px;
    }
    .contact-left-title hr{
        border: none;
        width: 120px;
        height: 7px;
        background-color: #ea5d05;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    .contact-inputs {
        width: 400px;
        height: 50px;
        border: none;
        outline: none;
        padding-left: 25px;
        font-weight: 500;
        color: #666;
        border-radius: 50px;
    }
    .contact-left textarea{
        height: 140px;
        padding-top: 15px;
        border-radius: 20px;
    }
    .contact-inputs:focus{
        border: 2px solid #ff994f;
    }
    .contact-inputs::placeholder{
        color: #a9a9a9;
    }
    .contact-left button{
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 16px;
        gap: 10px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        padding: 15px 30px;
        background: linear-gradient(270deg, #ff994f,#fa6d86);
    }
    .contact-left button img{
        height: 15px;
    }
</style>

<div class="contact-container">
    <form action="https://api.web3forms.com/submit" method="POST" class="contact-left">
        <div class="contact-left-title">
            <h2>Get in Touch</h2>
            <hr>
        </div>
        <input type="hidden" name="access_key" value="1db0422c-1508-47f7-9b6e-a46c0b1ed4f0">
        <input type="text" name="name" placeholder="Your Name" class="contact-inputs" required>
        <input type="text" name="email" placeholder="Your Email" class="contact-inputs" required>
        <textarea name="message" placeholder="Your Message" class="contact-inputs" required></textarea>
        <button type="submit">Submit <img src="/static/img/arrow_icon.png" alt=""></button>
    </form>
    <div class="contact-right">
        <img src="/static/img/contact.png" alt="" height="300px" width="300px">
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{% endblock main-content %}